## numpy file
*.npz

## big weight file (pytorch)
weights/

## pycache files
models/__pycache__/
fidelity/models/WGAN/__pycache__/
fidelity/__pycache__/

## plots
fidelity/plots/

# ILDConfig
reconstruction/ILDConfig/

#LCIO files
*.slcio

##Root files
*.root 

## txt files
fidelity/*.txt

##ILDConfig
./ILDConfig/*
